body{
    font-family: 'poppico', arial, helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1{
font-size: 3vw;
color: rgb(43, 43, 43);
}

#container {
    display: flex;
    gap: 0.5vw;
    margin: 5vw;
}

button{
    padding: 1rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    border:none;
    font-size: 1vw;
}

button:hover{
    background-color: rgb(163, 163, 163);
    transition: 1s;
}

#results {
   
    font-size: 2vw;
    font-weight: 700;
}

@media (max-width: 600px) {
    body {
        justify-content: flex-start;
        padding-top: 10vh;
    }

    h1 {
        font-size: 8vw;
        margin-bottom: 3rem;
    }

    #container {
        flex-direction: column;
        gap: 2vw;
        margin: 3vw;
    }

    button {
        width: 90vw;
        font-size: 4vw;
        padding: 1.5rem 0;
    }

    #results {
        margin-top: 3rem;
        font-size: 7vw;
       
    }
}